$accent-color:  #D4AF37;
$primary-color: #2C3E50;
$select-color: #502c3e;
$background-select-color: #f0e68c;
$background-color: #FFFFFF;
$background-main-color: #F5F5F5;
$background-hover-color: #f8fafc;

$text-light-color: #ECEFF1;
$text-dark-color: #1A1A1A;
$text-gray-color: #6a7384;


$border-color: #EEE;
$border-light-color: #E0D7C6;
$border-favorite-color: #ff4081;

$dark-theme: (
  bg: #3a3939,
  text: #fff,
  primary: #F5F5F5,
  accent: #D4AF37
);

@mixin theme-style($property, $key) {
  @media (prefers-color-scheme: dark) {
    #{$property}: map-get($dark-theme, $key);
  }
}


@mixin custom-search($base-color: #D4AF37, $bg-color: #FFFFFF, $border-radius: 8px ) {
 
 .search-container{
  position: relative;
  display: flex; 
  flex-direction: row;
  width: 300px;
  padding-left: 5px;
  font-size: 1.2rem;
  font-family: 'Georgia', serif;
 }

  .search-input {
    font-family: 'Georgia', serif;
    width: 100%;
    box-sizing: border-box;
    height: 46px;         
    line-height: 46px;    
    padding: 10 10px;          
    font-size: 16px;
    background-color: $bg-color;
    border: 2px solid transparent;
    border-radius: $border-radius;
    outline: none;
    transition: all 0.3s ease;

    &:focus {
      background-color: #fff;
      border-color: $base-color;
    }
  }
}