$accent-color:  #D4AF37;
$primary-color: #2C3E50;
$select-color: #502c3e;
$background-select-color: #f0e68c;
$background-color: #FFFFFF;
$background-main-color: #F5F5F5;
$background-hover-color: #f8fafc;

$text-light-color: #ECEFF1;
$text-dark-color: #1A1A1A;
$text-gray-color: #6a7384;


$border-color: #EEE;
$border-light-color: #E0D7C6;
$border-favorite-color: #ff4081;

$dark-theme: (
  bg: #3a3939,
  text: #fff,
  primary: #F5F5F5,
  accent: #D4AF37
);

@mixin theme-style($property, $key) {
  @media (prefers-color-scheme: dark) {
    #{$property}: map-get($dark-theme, $key);
  }
}