$accent-color:  #D4AF37;
$primary-color: #2C3E50;
$background-color: #FFFFFF;
$background-main-color: #F5F5F5;
$background-hover-color: #f8fafc;

$text-light-color: #ECEFF1;
$text-dark-color: #1A1A1A;
$text-gray-color: #6a7384;


$border-color: #EEE;
$border-light-color: #E0D7C6;
