@use 'abstracts/_variables' as vars;

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}
.main-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-y: scroll;
}
.header{
    height: 90px;
    position: sticky;
    top: 0;
    background-color: vars.$background-color;
    overflow: initial;
    border-bottom: 3px solid vars.$accent-color; 
    padding: 10px 20px;
    z-index: 101;
    @include vars.theme-style(background-color, bg);
   @include vars.theme-style(color, text);
}
.menu { 
    width: 25%;
    min-width: 180px;
    background-color: vars.$primary-color;
    position: sticky;
    left:0;
    @include vars.theme-style(background-color, bg);
  @include vars.theme-style(color, text);
}
.content {
  flex: 1;
  background-color: #F5F5F5;
  @include vars.theme-style(background-color, bg);
  @include vars.theme-style(color, text);
}