@use 'abstracts/_variables' as vars;

.book-details-dialog {
  font-family: 'Georgia', serif;
  border-radius: 4px;
  padding: 15px;
  margin: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color:vars.$text-dark-color;
  background-color: vars.$background-color;
  @include vars.theme-style(background-color, bg);
  @include vars.theme-style(color, text);
  .book-title {
    font-size: 1.1em;
    font-family: 'Georgia', serif;
    margin-bottom: 8px;
    height: auto;
    min-height: 55px;   
    color: vars.$primary-color;
    overflow: hidden;
    text-overflow: ellipsis;  
    @include vars.theme-style(color, primary);
  }
    .rating {
        font-weight: bold;
        color: vars.$text-gray-color;
        font-family: 'Segoe UI', sans-serif;
        @include vars.theme-style(color, primary);
        .rating-value {
            color: vars.$accent-color;
        }
    }
    .book-cover {
        width: 100%;    
        height: 200px;
        object-fit: contain;
        margin-bottom: 8px;
        border-radius: 4px;
    }
}

.book-author {
  color: #7F8C8D;
  font-size: 0.9rem;
  font-style: italic;
    @include vars.theme-style(color, primary);
}
.book-genre {
  color: #8d99ae;
  font-size: 0.9rem;
  font-style: italic;
    @include vars.theme-style(color, primary);
}
.book-year {
  font-family: sans-serif;
  color: #b2bec3;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
    @include vars.theme-style(color, primary);
}