<div class="book-menu-wrapper">
  <div class="book-menu">
    <div class="menu-genres">
      <div class="menu-genres-list">
        <button
          class="genre-button"
          [class.active-genre]="(selectedGenre$ | async) === null"
          type="button"
          (click)="onSelect(null)"
        >
          Все
        </button>
        @for (genre of genres$ | async; track genre) {
          <button
            class="genre-button"
            [class.active-genre]="(selectedGenre$ | async) === genre"
            type="button"
            (click)="onSelect(genre)"
          >
            {{ genre }}
          </button>
        }
      </div>
    </div>
    <div class="action-container">
      <div class="settings-short">
        <button
          title="Настройки"
          class="settings-toggle"
          (click)="isVisible = !isVisible"
          type="button"
        >
          <span class="icon"></span>
        </button>
      </div>
      <div class="search-container">
        <input name="search"
          #searchTerm
          class="search-input"
          type="text"
          placeholder="Поиск..."
          (input)="bookService.setSearchTerm(searchTerm.value)"
        />
      </div>
    </div>
  </div>
  <div class="settings-full">
    @if (isVisible) {
      <app-book-settings-panel></app-book-settings-panel>
    }
  </div>
</div>
