<div
  appHighlightCard
  class="book-card"
  [class.card-selected]="bookService.isSelectedBook(book()!)"
  (click)="selectBook()"
  [ngClass]="{ 'is-favorite': isFavourite() }"
>
  <ng-container 
  *ngTemplateOutlet="customTemplate || defaultTemplate; context: { $implicit: book, isFav: isFavourite() }">
  </ng-container>
  <ng-content select="[card-footer]"></ng-content>
</div>

<ng-template #defaultTemplate let-book>
  @if (book()?.coverUrl) {
    <img [src]="book()?.coverUrl" [alt]="book()?.title" class="book-cover" />
  } @else {
    <img src="/cover.png" [alt]="book()?.title" class="book-cover" />
  }
  <h4 class="book-title">{{ book()?.title }}</h4>
  <p class="book-author">{{ book()?.author }}</p>
  <p class="book-year">{{ book()?.year }}</p>
  <p class="book-genre">{{ book()?.genre }}</p>
  <p class="rating">
    Rating: <span class="rating-value">{{ book()?.rating }}</span>
    <i *appIfHighRating="book().rating">⭐</i>
    @if (isFavourite()) {
      <span class="favorite"> ❤️</span>
    }
  </p>
</ng-template>
