@use 'abstracts/_variables' as vars;

.box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  color: rgb(255, 255, 255);
  height: 100%;
  min-width: 0;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.no-data {
  display: flex;
  margin-left: 1rem;
  font-family: Georgia, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #7F8C8D;
  font-size: 1.2rem;
}

.footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-button, .favorite-button {
    background-color: vars.$accent-color;
    color: vars.$background-color;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;

}

.short-card {
  background: #fdf5e6; 
  border: 1px solid #d2b48c;
  padding: 10px;
  position: relative;
  box-shadow: 
    3px 3px 0px #8b4513,
    inset 0 0 50px rgba(0,0,0,0.05); 
  font-family: 'Georgia', 'Times New Roman', serif;
  color: #2c1e1e;
  transition: transform 0.2s ease;
  overflow: hidden;
  margin-bottom: 10px;
  min-height: 230px;
}


