<main class="content">
  <div class="settings">
    <app-book-menu></app-book-menu>
  </div>
  <div class="box" *ngIf="books$ | async as books; else noData">
    <div *ngIf="books.length > 0; else noData" class="box">
      @for (item of books$ | async; track item.id) {
        <app-book-card
          #bookCard
          [book]="item"
          [customTemplate]="item.year < 1950 ? customTemplate : undefined"
        >
          <div card-footer class="footer-card">
            <button class="detail-button" (click)="bookCard.openBookDetails()">Подробнее</button>
            <button class="favorite-button" (click)="bookCard.addToFavorites($event)">В избранное</button>
          </div>
        </app-book-card>
      }
    </div>
  </div>
</main>

<ng-template #noData>
  <div class="no-data">
    <p>Не найдено книг.</p>
  </div>
</ng-template>

<ng-template #customTemplate let-book>
  <div class="short-card">
    <h4 class="book-title">{{ book()?.title }}</h4>
    <p class="book-author">{{ book()?.author }}</p>
    <p class="book-year">{{ book()?.year }}</p>
    <p class="book-genre">{{ book()?.genre }}</p>
    @if (isBookFavorite(book()!)) {
      <p class="favorite"><span> ❤️</span></p>
    }
  </div>
</ng-template>
